<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link waves-light" routerLink="/" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" routerLink="/blog" mdbWavesEffect>Blog</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" routerLink="/services" mdbWavesEffect>services</a>
          </li>

          <li class="nav-item">
            <a class="nav-link waves-light" routerLink="/about" mdbWavesEffect>About</a>
        </li>


        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/produit" mdbWavesEffect>Prodiut</a>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/contact" mdbWavesEffect>Contact</a>
    </li>

      <!-- Links -->

<!-- Se arch form -->
</ul>
      <form class="form-inline waves-light" mdbWavesEffect>
          <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
          </div>
      </form>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
