.rating {
  padding: 0;
  color: #ffa000;
  list-style-type: none;
   li {
    display: inline-block;
   }
}


.card-footer {
  background-color: transparent;

  .card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
  }

  .font-weight-bold {
    font-weight: 700 !important;
}
.float-left {
  float: left !important;
}
}

