<!-- Card -->
<div class="row mb-2">
  <div class="col-md-4 mb-5" *ngFor= "let services of services">
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <img src="{{ services.image }}" class="img-fluid" alt="{{ services.title }}">
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>{{ services.title }}</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
          {{ services.description }}
        </mdb-card-text>

        <a href="#" mdbBtn color="primary" [routerLink]="['/services/' , services.Id]" mdbWavesEffect>View Details</a>
      </mdb-card-body>
    </mdb-card>
  </div>

</div>
<!-- Card -->
